body {
    background-color: rgb(230, 122, 0);
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

#kaua-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

img {
    height: 300px;
    width: 300px;
    align-items: center;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
}

section {
    background-color: #f9f9f9;
    padding: 20px;
}

footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}