* {
  margin: 0px;
  padding: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #f5f5f5;
}

header {
  background-color: #001c42;
  background-color: rgb(0, 28, 66);
  width: 100%;
  height: 120px;
  color: white;
  padding-top: 20px;
  text-align: center;
  font-size: 1.5em;
  position: fixed;
  font-style: italic;
}

.nav-bar {
  height: 80px;
  padding-top: 180px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 80px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(90deg, #e47a7e, #ad76bc 33%, #8380f4 71%, #a6a5ec);
  color: #999;
  font-size: 25px;
  line-height: 64px;
  text-align: center;
  white-space: normal;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
ul {
  text-decoration: none;
}

.position-speaking {
  padding-left: 21%;
  padding-right: 21%;
  color: #262146;
  font-size: 30px;
}

.speaking {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  border: 3px solid blueviolet;
}  

.container-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.format-images {
  width: 250px;
  height: 250px;
  border: 3px solid blueviolet;
  align-items: center;
  cursor: pointer;
}

#position-article {
  padding-top: 20px;
  padding-bottom: 20px;
}

#format-card {  
  display: grid;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding-top: 15px;
}

footer {
  background-color: #001c42;
  background-color: rgb(0, 28, 66);
  width: 100%;
  height: 120px;
  color: white;
  padding-top: 20px;
  text-align: center;
  font-size: 1em;
  font-family: s;
}
